.app-item-outer{
    display: block;
    width: 80px;
    min-height: 70px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid rgba($gray-lighter,.3);
        background: rgba($gray-lighter,.1);
    }
    &.selected{
        .app-item-inner{
            border: 1px solid rgba($primary,.6);
            background: rgba($primary,.3);
        }
    }
}
.app-item-inner{
    border: 1px solid transparent;
    padding: 10px 0 10px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    color: $gray-light;
    align-items: center;
    user-select: none;
}
.app-item-icon{
    height: 40px;
    width: 40px;
    img{
        height: 40px;
        width: 40px;
    }
    color: $gray-light;
}
.app-item-name{
    text-align: center;
    width: 65px;
    margin-top: 5px;
    font-size: 12px;
    max-height: 25px;
    word-break:break-all;
    word-wrap:break-word;
    text-overflow:ellipsis;
    overflow:hidden;
}