.noaid-layer.noaid-layer-start-menu{
    background: rgba(59, 59, 58, 0.94);
    bottom: $taskbar-height;
    border: none;
    color: $gray-light;
    max-height: 450px;
    height: 100%;
    top: auto;
    padding-top: 30px;
    font-size: 12px;
}